.sectionList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.path {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
  padding-bottom: 10px;
  border-bottom: rgba(255, 255, 255, 0.15) 2px solid;
}
.alphabet {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 3px;
  border: #495057 1px solid;
  cursor: pointer;
  transition: .2s;
}
.alphabet img {
  width: 16px;
  height: 16px;
}
.alphabet:hover {
  background-color: #30363b;
}

.double_arrow {
  padding: 0px 7px 0px 3px;
}
.double_arrow img {
  width: 12px;
  height: 12px;
}
