.tag {
    padding-inline: 9px;
    padding-block: 3px;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    border-radius: 999px;
    text-transform: capitalize;
    cursor: pointer;
}

.work {
    background-color: #032830;
    /* border: #087990 1px solid; */
    color: #6EDFF6;
    transition: .3s;
}
.work:hover {
    box-shadow: inset 0 0 0 1.5px #087990;
}

.family {
    background-color: #031633;
    /* border: #084298 1px solid; */
    color: #6EA8FE;
    transition: .3s;
}
.family:hover {
    box-shadow: inset 0 0 0 1.5px #084298;
}

.friend {
    background-color: #051B11;
    /* border: #0F5132 1px solid; */
    color: #75B775;
    transition: .3s;
}
.friend:hover {
    box-shadow: inset 0 0 0 1.5px #177b4d;
}

.colleague {
    background-color: #332701;
    /* border: #8B6A04 1px solid; */
    color: #EFD560;
    transition: .3s;
}
.colleague:hover {
    box-shadow: inset 0 0 0 1.5px #8B6A04;
}

.emergency {
    background-color: #2C0B0E;
    /* border: #8B6A04 1px solid; */
    color: #D3807B;
    transition: .3s;
}

.emergency:hover {
    box-shadow: inset 0 0 0 1.5px #842029;
}

.default {
    background-color: #262729;
    /* border: #41464B 1px solid; */
    color: #575b5e;
    transition: .3s;
}
.default:hover {
    color: #8d9195;
    box-shadow: inset 0 0 0 1.5px #41464B;
}